@charset "UTF-8";
/*Обнуление*/
/* @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900); */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
/*----------------------------------------------------------------------------------------------------*/
body {
    background-color: #0b0b0b;
    margin: 0 auto;
}

.container {
    /* position: fixed; */
    margin: 0 auto;
    width: 100%;
    /* padding: 0 15% 0; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
@media screen and (max-width: 500px) {
    .wrapper {
        /* width: 100%; */
        max-width: 360px;
        height: auto;
        margin: 0 auto;
    }
    .header {
        margin: 0 auto;
        position: fixed;
        width: 100%;
        height: 45px;
        display: flex;
        /* justify-content: space-around; */
        /* margin-right: 30px; */
        background: linear-gradient(180deg, #0b0b0b 43.92%, rgba(11, 11, 11, 0.5) 100%);
        z-index: 100;
    }
    .menuForAdaptive {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu {
    }
    .menu ul {
        display: none;
    }
    .container__group2 {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .group2 {
        font-family: "Montserrat-Black";
        font-size: 14px;
        line-height: 17px;
        color: #efefef;
    }
    .group2 span {
    }
    /* //////////////////////////////////////////////////////////////////////////////////////////////////// */
    .main__banner {
        /* margin: 0 auto; */
        background: radial-gradient(77.49% 37.87% at 50% 50%, rgba(11, 11, 11, 0) 52.6%, #0b0b0b 100%),
            url(../img/mainBanner/Rectangle\ 1.jpg) no-repeat;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 228px;
        padding-top: 61px;
    }
    .main__design {
        margin: 0 auto;
        width: 280px;
        height: 95px;
    }
    .main__design img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -o-object-fit: cover;
    }
    .main__conference {
        width: 190px;
        height: 23px;
        margin-top: -30px;
    }
    .main__conference img {
        width: 100%;
        height: 100%;
    }
    .container__main {
        display: flex;
        justify-content: center;
    }
    .main__text {
        width: 280px;
        /* padding: 0 60px 0; */
        height: 51px;
        margin-top: 27px;
        /* color: white; */
        /* text-align: center; */
        font-family: "Montserrat-Black";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #efefef;
    }
    /* /////////////////////////////////////////////////////////////////////////////////////////////*/
    .about__conference {
        /* identical to box height, or 36px */
        /* margin: 0 auto; */
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 64px 0 0;
        /* padding: 0 10vw 0; */
    }
    .wrapper_abouttitle {
        margin-left: 40px;
    }
    .about__title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 100%;
        color: #efefef;
        text-align: center;
    }
    .about__txt {
        margin-top: 32px;
        width: 280px;
        height: 66px;
        /* height: auto; */
        font-family: "Montserrat-Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: left;
        color: #efefef;
    }
    .expend {
        margin-top: 32px;
    }
    .expend a {
        font-family: "Montserrat-Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #ff00c6;
    }
    .wrapper__inroduction {
        /* display: flex;
        flex-wrap: wrap;
        margin: 10px; */
        /* align-items: center; */
    }
    .inroduction__block1 {
        margin-bottom: 130px;
    }
    .inroduction__conference {
        position: relative;
        margin-left: 58px;
    }
    .reassignInroduction__conference {
        margin-right: 61px;
    }
    .rectangle34 {
        position: relative;
        margin-top: 71px;
        /* margin-left: 5%; */
        width: 165px;
        height: 425px;
        background: #0b0b0b;
        border: 1px solid #ff00c6;
        box-sizing: border-box;
        box-shadow: 4px 4px 30px rgba(123, 0, 143, 0.76);
        border-radius: 2px;
    }
    .reassignRectangle34 {
        margin-left: auto;
        margin-right: 5%;
    }
    .rectangle34__foto {
        /* background: url(../img/about/Rectangle\ 5\ 1.jpg); */
        mix-blend-mode: normal;
        border-radius: 2px;
        position: relative;
        left: 32px;
        bottom: 32px;
        width: 165px;
        height: 432px;
    }
    .reassignRectangle34__Foto {
        top: 32px;
        left: -32px;
    }
    .rectangle34__foto img {
        width: 100%;
        height: 100%;
    }
    .inroduction__directed {
        right: 20px;
        top: 240px;
        width: 296px;
        height: 196px;
        position: absolute;
        background: rgba(11, 11, 11, 0.7);
    }
    .reassignInroduction__directed {
        top: 290px;
        left: -25px;
    }
    .inroduction__title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #efefef;
    }
    .inroduction__text {
        margin-top: 16px;
        font-family: "Montserrat-Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #efefef;
    }
    .become__partner {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        width: 238px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 100px;
        background-color: #0b0b0b;
        color: #efefef;
        border: 1px solid #ff00c6;
        box-sizing: border-box;
        box-shadow: 4px 4px 30px rgba(123, 0, 143, 0.76);
        border-radius: 2px;
    }
    .format__conference {
        width: 360px;
        height: 551px;
        background: radial-gradient(104.34% 39.03% at 76.38% 50%, rgba(11, 11, 11, 0.6) 90%, #0b0b0b 99.37%),
            url(../img/format/Rectangle\ 11.jpg);
        /* background-image: url(../img/format/Rectangle11.png); */
        background-repeat: no-repeat;
        background-position: bottom bottom;
        background-size: cover;
    }
    .format__title {
        width: 280px;
        height: 72px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 36px;
        margin: 0 auto;
        margin-top: 66px;
        /* or 36px */

        /* белый текстовый */

        color: #efefef;
    }
    .format__text {
        margin: 0 auto;
        margin-top: 32px;
        color: #efefef;
    }
    .format__text h4 {
        width: 280px;
        height: 24px;
        left: 40px;
        top: 2847px;
        margin: 0 auto;

        /* робото 18 bold */

        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;

        /* белый текстовый */
    }
    .format__text span {
        margin: 0 auto;
        width: 280px;
        font-family: "Montserrat-Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
    }
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserat/Montserrat-Black.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/montserat/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: normal;
}
