@charset "UTF-8";
/*Обнуление*/
/* @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900); */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
/*----------------------------------------------------------------------------------------------------*/
body {
    background-color: #0b0b0b;
    margin: 0 auto;
    overflow-x: hidden;
}
.audience {
    position: relative;
    height: 432px;
    width: 296px;
    margin-bottom: 50px;
    padding-top: 270px;
    background-repeat: no-repeat;
    background-position: 50%;
}
.audience:after {
    content: "";
    display: block;
    height: 432px;
    width: 165px;
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 40px;
    border: 1px solid #ff00c6;
    box-shadow: 4px 4px 30px rgb(123 0 143 / 76%);
    border-radius: 2px;
}
.audience__text-wrapper {
    color: #efefef;
    background: rgba(11, 11, 11, 0.7);
}
.audience__title {
    /* font-size: 24px;
    line-height: 32px; */
    margin-bottom: 16px;
}
.audience__description {
    /* font-size: 18px;
    line-height: 22px; */
}
.audience__designers {
    margin-top: 32px;
    margin-bottom: 100px;
    background-image: url("../img/about/Rectangle\ 5\ 1.jpg");
}
.audience__professionals {
    margin-bottom: 60px;
    background-image: url("../img/about/Rectangle\ 6\ 1.jpg");
}
.audience__professionals:after {
    top: -20px;
    left: 90px;
}
.audience__suppliers:after {
    top: -20px;
    left: 90px;
}
.audience__newbies {
    margin-bottom: 110px;
    background-image: url("../img/about/Rectangle\ 7\ 1.jpg");
}
.audience__suppliers {
    background-image: url("../img/about/Rectangle\ 8\ 1.jpg");
}
@media screen and (max-width: 500px) {
    h2 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 100%;
        color: #efefef;
    }
    h3 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #efefef;
    }
    h4 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        align-items: center;
        color: #efefef;
    }
    h5 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: #efefef;
    }
    h6 {
        font-family: "Montserrat-Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #efefef;
    }
    span {
        font-family: "Montserrat-Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #e5e5e5;
    }
    .wrapper {
        max-width: 360px;
        height: auto;
        margin: 0 auto;
    }
    .header {
        margin: 0 auto;
        position: fixed;
        width: 100%;
        height: 45px;
        display: flex;
        background: linear-gradient(180deg, #0b0b0b 43.92%, rgba(11, 11, 11, 0.5) 100%);
        z-index: 100;
    }
    .menuForAdaptive {
        width: 13%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu {
    }
    .menu ul {
        display: none;
    }
    .container__group2 {
        width: 87%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    /* //////////////////////////////////////////////////////////////////////////////////////////////////// */
    .main__banner {
        background: radial-gradient(77.49% 37.87% at 50% 50%, rgba(11, 11, 11, 0) 52.6%, #0b0b0b 100%),
            url(../img/mainBanner/Rectangle\ 1.jpg) no-repeat;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 228px;
        padding-top: 61px;
    }
    .main__design {
        margin: 0 auto;
        width: 280px;
        height: 95px;
    }
    .main__design img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -o-object-fit: cover;
    }
    .main__conference {
        width: 190px;
        height: 23px;
        margin-top: -30px;
    }
    .main__conference img {
        width: 100%;
        height: 100%;
    }
    .container__main {
        display: flex;
        justify-content: center;
    }
    .main__text {
        width: 280px;
        height: 51px;
        margin-top: 27px;
        text-align: center;
    }
    /* /////////////////////////////////////////////////////////////////////////////////////////////*/
    .about__conference {
        margin: 0 auto;
        width: 280px;
        height: auto;
    }
    .wrapper_abouttitle {
        margin-left: 40px;
    }
    .about__title {
        text-align: center;
    }
    .about__txt {
        margin-top: 32px;
        width: 280px;
        height: 66px;
    }
    .expend {
        margin-top: 32px;
    }
    .expend a {
        font-family: "Montserrat-Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #ff00c6;
    }
    .become__partner {
        width: 238px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 64px;
        background-color: #0b0b0b;
        color: #efefef;
        border: 1px solid #ff00c6;
        box-sizing: border-box;
        box-shadow: 4px 4px 30px rgba(123, 0, 143, 0.76);
        border-radius: 2px;
    }
    .format__conference {
        width: 360px;
        height: 551px;
        background: radial-gradient(104.34% 39.03% at 76.38% 50%, rgba(11, 11, 11, 0.6) 90%, #0b0b0b 99.37%),
            url(../img/format/Rectangle\ 11.jpg);
        /* background-image: url(../img/format/Rectangle11.png); */
        background-repeat: no-repeat;
        background-position: bottom bottom;
        background-size: cover;
        margin-top: 66px;
        margin-bottom: 100px;
    }
    .format__title {
        width: 280px;
        height: 72px;
        margin: 0 auto;
    }
    .format__text {
        margin: 0 auto;
        margin-top: 32px;
        color: #efefef;
    }
    .format__text {
        width: 280px;
        height: 24px;
        left: 40px;
        top: 2847px;
    }
    .format__text span {
        margin: 0 auto;
        width: 280px;
        display: flex;
        align-items: center;
    }
    .speakers {
        margin: 0 auto;
        width: 280px;
    }
    .speacers__title {
    }
    .speacers__text {
        margin-top: 32px;
    }
    .speacers__container {
        width: 280px;
        margin-top: 130px;
        height: auto;
    }
    .rectangle32 {
        width: 252px;
        height: 276px;
        /* left: 45px;
        top: 3731px; */
        background: #0b0b0b;
        border: 1px solid #ff00c6;
        box-sizing: border-box;
        box-shadow: 4px 4px 30px rgba(123, 0, 143, 0.76);
        border-radius: 2px;
    }
    .rectangle32__foto {
        position: relative;
        width: 252px;
        height: 268px;
        left: 18px;
        bottom: 71px;
        border-radius: 2px;
    }
    .rectangle32__foto img {
        width: 100%;
        height: 100%;
    }
    .rectangle32__title {
        position: relative;
        width: 202px;
        height: 46px;
        margin: 0 auto;
        bottom: 55px;
    }
    .bottom__speakers {
        margin-top: 70px;
        width: 201px;
    }
    .wrapper__program {
        position: relative;
        width: 360px;
        /* background: radial-gradient(35.4% 21.54% at 52.22% 53.81%, rgba(11, 11, 11, 0.5) 0%, #0b0b0b 100%),
            url(../img/conferenceProgram/Rectangle\ 29.jpg); */
        background: url(../img/conferenceProgram/Rectangle\ 29.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }
    .comference__program {
        width: 280px;
        margin: 0 auto;
        margin-top: 65px;
    }
    .program__title {
        margin-bottom: 32px;
    }
    .timetable__title {
        display: flex;
        justify-content: space-between;
        width: 210px;
        margin: 0 auto;
        margin-top: 32px;
    }
    .timetable__item {
    }
    .reassign__timetable {
        opacity: 0.2;
    }
    .timetable__wrapper {
        width: 280px;
        height: auto;
        margin: 0 auto;
    }
    .timetable__container {
        width: 280px;
        height: auto;
        margin-top: 32px;
    }
    .timetable__time {
        width: 280px;
        height: auto;
    }
    .timetable__text {
        width: 280px;
        height: auto;
    }
    .bottom__timetable {
        width: 283px;
        margin-top: 64px;
    }
    .wrapper__tickets {
        width: 280px;
        margin: 0 auto;
        margin-top: 66px;
    }
    .tickets__title {
        margin-bottom: 32px;
    }
    .tickets__text {
        margin-bottom: 40px;
    }
    .container__tickets {
        width: 208px;
        margin: 0 auto;
        margin-bottom: 36px;
        text-align: center;
    }
    .tickets__place {
        margin-bottom: 18px;
    }
    .ticets__price {
        margin-bottom: 18px;
    }
    .ticets__price h2 {
        font-size: 48px;
    }
    .title__description {
        margin-bottom: 18px;
        width: 200px;
        height: 51px;
    }
    .bottom__tickets {
        margin: 0 auto;
        width: 196px;
    }
    .photo__gallery {
        width: 280px;
        margin: 0 auto;
        margin-top: 68px;
    }
    .gallery__title {
        margin: 0 auto;
        margin-bottom: 58px;
    }
    .slider {
        width: 80%;
        position: relative;
        /* width: 252px; */
        height: 320px;
        margin-bottom: 130px;
    }
    .slider .item {
        /* margin: 0 auto; */
        width: 100%;
        height: 320px;
        /* position: relative; */
        mix-blend-mode: normal;
        filter: drop-shadow(4px 4px 30px rgba(123, 0, 143, 0.76));
        border-radius: 2px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        /* position: absolute; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .slider .prev,
    .slider .next {
        cursor: pointer;
        position: absolute;
        top: 0;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        z-index: 2;
    }
    .slider .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    .slider .prev:hover,
    .slider .next:hover {
        /* background-color: rgba(0, 0, 0, 0); */
    }
    .slider-dots {
        text-align: center;
    }
    .slider-dots_item {
        cursor: pointer;
        height: 12px;
        width: 12px;
        margin: 0 2px;
        /* background-color: #ddd; */
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .active,
    .slider-dots_item:hover {
        /* background-color: #aaa; */
    }
    .slider .item {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
        from {
            opacity: 0.4;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes fade {
        from {
            opacity: 0.4;
        }
        to {
            opacity: 1;
        }
    }

    .gt1 {
        background-image: url(../img/photoGallery/Rectangle\ 33.png);
    }
    .gt2 {
        background-image: url(../img/photoGallery/Rectangle\ 34.png);
    }
    .gt3 {
        background-image: url(../img/photoGallery/Rectangle\ 35.png);
    }
    .gt4 {
        background-image: url(../img/photoGallery/Rectangle\ 36.png);
    }
    .gallery__date {
        /* identical to box height */
        /* position: relative; */
        position: absolute;
        width: 204px;
        height: 127px;
        top: 100px;
        left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }
    .gallery__date img {
        width: 100%;
        height: auto;
    }
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserat/Montserrat-Black.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/montserat/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: normal;
}
