@charset "UTF-8";
/*Обнуление*/
/* @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900); */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
/*----------------------------------------------------------------------------------------------------*/
body {
    background-color: #0b0b0b;
    margin: 0 auto;
    overflow-x: hidden;
}

h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    color: #efefef;
}
h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #efefef;
}
h4 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #efefef;
}
h5 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #efefef;
}
h6 {
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #efefef;
}
span {
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #e5e5e5;
}
.wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
/* ..........................................УНИВЕРСАЛЬНЫЙ СЛАЙДЕР НАЧАЛО........................ */
/* User styles */
/* @media screen and (min-width: 911px) {
    .ant-carousel {
        max-width: 810px;
    }
}

@media screen and (min-width: 641px) and (max-width: 910px) {
    .ant-carousel {
        max-width: 540px;
    }
} */

@media screen and (min-width: 500px) {
    .ant-carousel {
        /* max-width: 99.9%; */
        margin-bottom: 130px;
    }
}

.ant-carousel {
    /* margin: 50px auto auto; */
    /* left: -40px; */
    padding-top: 10px;
}

.ant-carousel-element {
    width: 375px;
    /* margin: 0 -1px; */
    /* text-align: center; */
}

/* General styles */
.ant-carousel {
    width: auto;
    position: relative;
}

.ant-carousel-hider {
    overflow: hidden;
}

.ant-carousel-list {
    width: auto;
    margin: auto;
    padding: 40px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

.ant-carousel-element {
    display: block;
    flex: 0 0 auto;
}

/* Navigation item styles */
div.ant-carousel-arrow-left,
div.ant-carousel-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 32;
    filter: invert(90%);
}

div.ant-carousel-arrow-left {
    left: 20vw;
    top: 110%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;
}

div.ant-carousel-arrow-right {
    right: 20vw;
    top: 110%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;
}

div.ant-carousel-arrow-left:hover {
    opacity: 1;
}

div.ant-carousel-arrow-right:hover {
    opacity: 1;
}

div.ant-carousel-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: -30px;
    z-index: 30;
    text-align: center;
}

span.ant-dot {
    width: 10px;
    height: 10px;
    margin: -40px 7px;
    padding: 0;
    display: inline-block;
    background-color: #bbb;
    border-radius: 5px;
    cursor: pointer;
}
/* ..........................................УНИВЕРСАЛЬНЫЙ СЛАЙДЕР КОНЕЦ........................ */
/* ..........................................СЛАЙДЕР SWIPER НАЧАЛО........................ */
.swiper {
    /* width: 280px; */
    /* height: 280px; */
}
/* ..........................................СЛАЙДЕР SWIPER КОНЕЦ........................ */

@media screen and (min-width: 500px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
    h6 {
        font-size: 14px;
        line-height: 100%;
    }
}
@media screen and (min-width: 768px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
    h6 {
        font-size: 16px;
        line-height: 150%;
    }
}
.header {
    margin: 0 auto;
    width: 360px;
    position: fixed;
    /* width: 100%; */
    height: 45px;
    display: flex;
    background: linear-gradient(180deg, #0b0b0b 43.92%, rgba(11, 11, 11, 0.5) 100%);
    z-index: 100;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////// */
.menu {
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu ul {
    margin: 0;
    /* list-style: none; */
    padding-left: 19px;
    /* display: none; */
}
.menu .title {
    /* font-size: 18px; */
    cursor: pointer;
}
.menu .title::before {
    content: url(../img/header/menu/menuBadge.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.menu.open .title::before {
    content: url(../img/header/menu/arrow1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.menu.open .menu__absolute {
    display: block;
}
.menu .menu__absolute {
    display: none;
    /* list-style: none; */
    position: absolute;
    width: 316px;
    height: 600px;
    top: 43px;
    left: 8px;
    background-image: url(../img/header/menuFon.jpg);
    /* z-index: 1; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.menu__absolute ul li {
    margin-bottom: 24px;
}
.bottom__menu {
    max-width: 184px;
    height: 44px;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
.container__group2 {
    width: 87%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
.main__banner {
    /* background: radial-gradient(77.49% 37.87% at 50% 50%, rgba(11, 11, 11, 0) 52.6%, #0b0b0b 100%),
        url(../img/mainBanner/Rectangle\ 1.jpg) no-repeat; */
    background-image: url(../img/mainBanner/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 228px;
    padding-top: 61px;
    box-sizing: border-box;
    width: 100%;
}
.main__design {
    margin: 0 auto;
    width: 280px;
    height: 95px;
}
.main__design img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    -o-object-fit: cover;
}
.main__conference {
    width: 186px;
    height: 23px;
    margin-top: -30px;
}
.main__conference img {
    width: 100%;
    height: 100%;
}
.container__main {
    display: flex;
    justify-content: center;
}
.main__text {
    width: 280px;
    height: 51px;
    margin-top: 27px;
    text-align: center;
}
@media screen and (min-width: 500px) {
    .main__banner {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .main__design {
        width: 100%;
        height: 254px;
        margin: 0 auto;
        /* position: relative; */
    }
    .main__conference {
        /* position: absolute; */
        width: 481px;
        height: 53px;
        margin-top: -80px;
        /* padding-left: -50px; */
    }
    .main__text {
        width: 100%;
        /* height: 24px; */
        margin-top: -24px;
    }
}
@media screen and (min-width: 768px) {
    .main__banner {
        width: 100%;
        margin: 0 auto;
    }
    .main__design {
        width: 688px;
        height: 254px;
    }
    .main__conference {
        height: 53px;
        width: 457px;
        margin-top: -70px;
    }
    .main__text {
        width: 688px;
        /* height: 24px; */
        margin-top: -29px;
    }
    .main__text h2 {
        text-align: left;
    }
}
/* /////////////////////////////////////////////////////////////////////////////////////////////*/
.about__conference {
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.about__txt {
    margin-top: 32px;
}
.about__title {
    text-align: center;
}
.about__title h2 {
    font-size: 35px;
}

.expend {
    margin-top: 32px;
}
.expend a {
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #ff00c6;
}
.audience {
    position: relative;
    height: 432px;
    width: 296px;
    margin-bottom: 50px;
    padding-top: 270px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 0 auto;
}
.audience:after {
    content: "";
    display: block;
    height: 432px;
    width: 165px;
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 40px;
    border: 1px solid #ff00c6;
    box-shadow: 4px 4px 30px rgb(123 0 143 / 76%);
    border-radius: 2px;
}
.audience__text-wrapper {
    color: #efefef;
    background: rgba(11, 11, 11, 0.7);
}
.audience__title {
    /* font-size: 24px;
    line-height: 32px; */
    margin-bottom: 16px;
}
.audience__description {
    /* font-size: 18px;
    line-height: 22px; */
}
.audience__designers {
    margin-top: 32px;
    margin-bottom: 100px;
    background-image: url("../img/about/Rectangle\ 5\ 1.jpg");
}
.audience__professionals {
    margin-bottom: 60px;
    background-image: url("../img/about/Rectangle\ 6\ 1.jpg");
}
.audience__professionals:after {
    top: -20px;
    left: 90px;
}
.audience__suppliers:after {
    top: -20px;
    left: 90px;
}
.audience__newbies {
    margin-bottom: 110px;
    background-image: url("../img/about/Rectangle\ 7\ 1.jpg");
}
.audience__suppliers {
    background-image: url("../img/about/Rectangle\ 8\ 1.jpg");
}
.become__partner {
    width: 238px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 64px;
    background-color: #0b0b0b;
    color: #efefef;
    border: 1px solid #ff00c6;
    box-sizing: border-box;
    box-shadow: 4px 4px 30px rgba(123, 0, 143, 0.76);
    border-radius: 2px;
}
@media screen and (min-width: 500px) {
    .about__conference {
        width: 460px;
        margin: 0 auto;
    }
    .about__title h2 {
        text-align: left;
    }
    h4 {
        font-size: 30px;
        line-height: 40px;
    }
    span {
        font-size: 18px;
        line-height: 22px;
    }
    .about__txt span {
        font-size: 24px;
        line-height: 150%;
    }
    .audience__container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .audience {
        position: relative;
        height: 517px;
        width: 336px;
        margin-bottom: 50px;
        padding-top: 270px;
        background-repeat: no-repeat;
        background-position: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    .audience:after {
        content: "";
        display: block;
        height: 517px;
        width: 197px;
        position: absolute;
        z-index: -1;
        top: 39px;
        left: 27px;
        border: 1px solid #ff00c6;
        box-shadow: 4.78448px 4.78448px 35.8836px rgba(123, 0, 143, 0.76);
        border-radius: 2px;
    }
    .audience__title {
        margin-bottom: 36px;
    }
    .audience__designers {
        margin-top: 32px;
        margin-bottom: 100px;
    }
    .audience__professionals {
        margin-bottom: 60px;
    }
    .audience__professionals:after {
        top: -40px;
        left: 115px;
    }
    .audience__suppliers:after {
        top: -40px;
        left: 115px;
    }
    .audience__newbies {
        margin-bottom: 110px;
    }
    .become__partner {
        margin-top: 11px;
        width: 238px;
    }
    .become__partner h4 {
        font-size: 24px;
        line-height: 32px;
    }
}
@media screen and (min-width: 768px) {
    .about__conference {
        width: 700px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1024px) {
    /*пока не заморачиваться.Сделать*/
    .about__conference {
        width: 960px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 1378px) {
    .about__conference {
        width: 1200px;
        margin: 0 auto;
    }
}
.format__conference {
    width: 100%;
    height: 459px;
    background: radial-gradient(99.06% 99.88% at 50% 50%, rgba(11, 11, 11, 0) 0%, #0b0b0b 100%),
        url(../img/format/formatConference.png);
    /* background-image: url(../img/format/formatConference.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 66px;
    margin-bottom: 100px;
}
.format__title {
    width: 280px;
    height: 72px;
    margin: 0 auto;
}
.format__text {
    margin: 0 auto;
    margin-top: 32px;
    color: #efefef;
    width: 280px;
}
.format__text span {
    margin: 0 auto;
    width: 280px;
    display: flex;
    align-items: center;
}
@media screen and (min-width: 500px) {
    .format__conference {
        padding: 0 40px 0;
    }
    .format__container {
        display: flex;
        justify-content: space-between;
    }
    .format__title {
        width: 100%;
    }
    .format__text {
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .speakers .ant-carousel,
    .speakers .ant-carousel-hider,
    .speakers .ant-carousel-list,
    .speakers .ant-carousel-element {
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    .speakers .ant-carousel-arrow-left {
        display: none;
    }
    .speakers .ant-carousel-arrow-right {
        display: none;
    }
    .speakers .ant-carousel-dots {
        display: none;
    }
    .speacers__container {
        margin: 0 auto;
    }
    .speacers__title {
        width: 280px;
        margin: 0 auto;
    }
    .speacers__text {
        width: 280px;
        margin: 0 auto;
        margin-top: 32px;
    }
}
.speakers {
    margin: 0 auto;
    /* width: 280px; */
    padding: 64px 0 0;
}
.speacers__title {
}
.speacers__text {
    margin-top: 32px;
}
.speacers__container {
    width: 280px;
    margin-top: 130px;
    height: auto;
}
.rectangle32 {
    width: 252px;
    height: 276px;
    background: #0b0b0b;
    border: 1px solid #ff00c6;
    box-sizing: border-box;
    box-shadow: 4px 4px 30px rgba(123, 0, 143, 0.76);
    border-radius: 2px;
}
.rectangle32__foto {
    position: relative;
    width: 252px;
    height: 268px;
    left: 18px;
    bottom: 71px;
    border-radius: 2px;
}
.rectangle32__foto img {
    width: 100%;
    height: 100%;
}
.rectangle32__title {
    position: relative;
    width: 202px;
    height: 46px;
    margin: 0 auto;
    bottom: 55px;
}

.bottom__speakers {
    margin-top: 70px;
    width: 201px;
}

@media screen and (min-width: 500px) {
    .speakers {
        margin: 0 auto;
        width: 100%;
    }
    .speacers__title {
        padding: 0 40px 0;
    }
    .speacers__text span {
        font-size: 24px;
        line-height: 150%;
        padding: 0 40px 0;
    }
    .rectangle32 {
        width: 311px;
        height: 341px;
        background: #0b0b0b;
        border: 1px solid #ff00c6;
        box-sizing: border-box;
        box-shadow: 4.94245px 4.94245px 37.0683px rgba(123, 0, 143, 0.76);
        border-radius: 2px;
    }
    .rectangle32__foto {
        width: 311px;
        height: 331px;
        left: 18px;
        bottom: 81px;
        border-radius: 2px;
    }
    .rectangle32__title {
        margin: 0 auto;
        left: -18px;
        /* padding: 0 0px 0px; */
        /* margin: 0 auto; */
        bottom: 55px;
        /* text-align: center; */
    }
    .speacers__name {
        width: 280px;
    }
    .tatiana h5 {
        margin-top: -13px;
    }
    .rectangle32__title h5 {
        font-size: 23px;
        line-height: 32px;
    }
    /* ///////////////////////////////////// */
}
.wrapper__program {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px 0;
    /* width: 360px; */
    /* background: radial-gradient(35.4% 21.54% at 52.22% 53.81%, rgba(11, 11, 11, 0.5) 0%, #0b0b0b 100%),
            url(../img/conferenceProgram/Rectangle\ 29.jpg); */
    background: url(../img/conferenceProgram/Rectangle\ 29.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
.comference__program {
    /* width: 280px; */
    /* padding: 0 40px 0; */
    margin: 0 auto;
    margin-top: 65px;
}
.program__title {
    margin-bottom: 32px;
}
.timetable__title {
    display: flex;
    justify-content: space-around;
    /* width: 210px; */
    margin: 0 auto;
    margin-top: 32px;
}
.timetable__item {
}
.reassign__timetable {
    opacity: 0.2;
}
.timetable__wrapper {
    width: 100%;
    /* padding: 0 40px 0; */
    height: auto;
    margin: 0 auto;
}
.timetable__container {
    width: 100%;
    /* padding: 0 40px 0; */
    height: auto;
    margin-top: 32px;
}
.timetable__time {
    /* width: 280px; */
    height: auto;
}
.timetable__text {
    width: 100%;
    /* padding: 0 40px 0; */
    height: auto;
}
.timetable__text {
    font-size: 14px;
}
.bottom__timetable {
    width: 283px;
    margin-top: 64px;
}
@media screen and (min-width: 500px) {
    .wrapper__program {
        width: 460px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) {
    .wrapper__program {
        width: 700px;
        margin: 0 auto;
    }
}

.wrapper__tickets {
    /* width: 280px; */
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px 0;
    margin-top: 66px;
}
.tickets__title {
    margin-bottom: 32px;
}
.tickets__text {
    margin-bottom: 40px;
}

.box__tickets {
    width: 208px;
    margin: 0 auto;
    margin-bottom: 36px;
    text-align: center;
}
.tickets__place {
    margin-bottom: 18px;
}
.ticets__price {
    margin-bottom: 18px;
}
.ticets__price h2 {
    font-size: 48px;
}
.title__description {
    margin-bottom: 38px;
    width: 200px;
    height: 51px;
}
.bottom__tickets {
    margin: 0 auto;
    width: 196px;
}
@media screen and (min-width: 500px) {
    .wrapper__tickets {
        width: 460px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) {
    .wrapper__tickets {
        width: 700px;
        margin: 0 auto;
        margin-top: 150px;
    }
    .container__ticets {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 56px;
    }
}
.photo-galery__wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: 68px;
    overflow: hidden;
    overflow-y: hidden; /*для вертикального*/
    overflow-x: hidden; /*для горизонтального*/
}
.gallery__title {
    margin: 0 auto;
    margin-bottom: 28px;
    padding: 0 40px 0;
}
.photo-galery__wrapper .item {
    /* margin: 0 auto; */
    width: 280px;
    height: 340px;
    position: relative;
    /* margin: 0 auto; */
    /* mix-blend-mode: normal; */
    /* filter: drop-shadow(4px 4px 30px rgba(123, 0, 143, 0.76)); */
    /* border-radius: 2px; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.gt1 {
    background-image: url(../img/photoGallery/Rectangle\ 33.png);
}
.gt2 {
    background-image: url(../img/photoGallery/Rectangle\ 34.png);
}
.gt3 {
    background-image: url(../img/photoGallery/Rectangle\ 35.png);
}
.gt4 {
    background-image: url(../img/photoGallery/Rectangle\ 36.png);
}
.gallery__date {
    position: relative;
    width: 190px;
    height: auto;
    /* height: 127px; */
    /* top: 100px;
    left: 5px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    margin-right: 3%;
}
.gallery__date img {
    width: 100%;
    height: auto;
    object-fit: cover;
    -o-object-fit: cover;
}
.photo-galery__wrapper .swiper {
    width: 100%;
}
.photo-galery__wrapper .swiper {
    width: 280px;
    margin: 0 auto;
    height: auto;
}
@media screen and (min-width: 500px) {
    .photo-galery__wrapper {
        width: 460px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) {
    .photo-galery__wrapper {
        width: 700px;
        margin: 0 auto;
        margin-top: 150px;
    }
    .photo-galery__wrapper .foto-galery {
        width: 375px;
    }
}
.place__event {
    position: relative;
    width: 360px;
    margin: 0 auto;
    margin-top: 50px;
}
.place__title {
    width: 287px;
    margin: 0 auto;
    position: relative;
}
.place__map {
    margin-top: 46px;
    width: 100%;
    height: 526px;
    background-image: url(../img/place/map.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.place__text {
    width: 295px;
    margin: 0 auto;
    position: relative;
}
.place__point {
    position: absolute;
    width: 50px;
    height: 67.38px;
    bottom: 220px;
    right: 157px;
    background-image: url(../img/place/Vector.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.partners {
    position: relative;
    width: 280px;
    margin: 0 auto;
    margin-top: 50px;
}
.partners__title {
    margin-top: 16px;
    margin-bottom: 33px;
}
.general__partners {
}
.general__name {
    margin-bottom: 33px;
}
.general__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 151px;
    margin-bottom: 32px;
}
.kerama {
    width: 280px;
    height: 58px;
    background-image: url(../img/partners/general/Screenshot_1.png);
}
.size {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.home-heat {
    width: 280px;
    height: 78px;
    background-image: url(../img/partners/general/home-heat.png);
}
.junior__partners {
}
.junior__name {
    margin-bottom: 16px;
}
.junior__container {
    height: 106px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-content: space-between; */
}
.junior__box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.expostroy {
    width: 117px;
    height: 29px;
    background-image: url(../img/partners/junior/expostroy.png);
}
.flatStone {
    width: 109px;
    height: 62px;
    background-image: url(../img/partners/junior/flatStone.png);
}
.sofia {
    width: 108px;
    height: 13px;
    background-image: url(../img/partners/junior/sofia.png);
}
.varman {
    width: 108px;
    height: 29px;
    background-image: url(../img/partners/junior/varman.png);
}
.footer {
    width: 280px;
    margin: 0 auto;
    margin-top: 64px;
}
.footer__line {
    display: block;
    width: 280px;
    content: "";
    opacity: 0.4;
    border: 1px solid #efefef;
    margin: 0 auto;
}
.social__networks {
    position: relative;
    margin-top: 17px;
    width: 280px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}
.social__networks .size {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0.4;
}
.networks__instagram {
    background-image: url(../img/socialNetworks/instagram.png);
}
.networks__vk {
    background-image: url(../img/socialNetworks/vk.png);
}
.networks__facebook {
    background-image: url(../img/socialNetworks/facebook.png);
}
.networks__twiter {
    background-image: url(../img/socialNetworks/twiter.png);
}
.networks__telegram {
    background-image: url(../img/socialNetworks/telegram.png);
}
.footer__text {
    margin-top: 15px;
}
.footer__text span {
    opacity: 0.4;
    font-size: 12px;
}
.container__policy {
    width: 100%;
    height: 129px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.policy__cookie {
}
.policy__personal-information {
}
.policy__privacy {
}
.agreement {
}
.container__event {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.event__date {
}
.event__name {
}

/*.............................. КРАСНЫЕ ЛИНИИ */
* {
    /* outline: 1px solid red; */
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserat/Montserrat-Black.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/montserat/Montserrat-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
    font-style: normal;
    font-weight: normal;
}
